@model PagiApp.ViewModels.AdminViewModel
@{
  Layout = "_AdminLayout";
}

<section class="tab-components">
    <div class="container-fluid">
      <!-- ========== title-wrapper start ========== -->
        <div class="title-wrapper pt-30">
            <div class="row align-items-center">
                <div class="col-md-6">
                    <div class="title mb-30">
                        <h2>Tambah Kategori</h2>
                    </div>
                </div>
                <!-- end col -->
            </div>
            <!-- end row -->
        </div>
        <!-- ========== title-wrapper end ========== -->

        <!-- ========== form-elements-wrapper start ========== -->
        <div class="form-elements-wrapper">
            <div class="row">
                <div class="col-lg-8">
                    <!-- input style start -->
                    <form method="post" asp-action="Delete" >
                        <div class="card-style mb-30">
                            <h6 class="mb-25">Input Fields</h6>
                            <div class="input-style-1">
                            <label>Nama</label>
                                <input type="hidden" asp-for="IdAdmin"  />
                                <input disabled type="text" asp-for="Nama" />
                            </div>
                            <div class="input-style-1">
                                <label>Nomor HP</label>
                                <input disabled type="text" asp-for="NoHp" />
                            </div>
                            <div class="input-style-1">
                                <label>Username</label>
                                <input disabled type="text" asp-for="Username" />
                            </div>
                            <div class="input-style-1">
                                <label>Password</label>
                                <input disabled type="text" asp-for="Password" />
                            </div>
                            <div class="input-style-1">
                                <input type="submit" value="hapus Admin" class="main-btn primary-btn square-btn btn-hover" />
                            </div>

                            <!-- end input -->
                        </div>
                    </form>

                    <!-- end col -->
                </div>
                <!-- end row -->
            </div>
            <!-- ========== form-elements-wrapper end ========== -->
        </div>
        <!-- end container -->
</section>