@model IEnumerable<PagiApp.ViewModels.KategoriViewModel>

@{
  Layout = "_AdminLayout";
  int i = 0;
}

<div class="container-fluid">
  <!-- ========== title-wrapper start ========== -->
  <div class="title-wrapper pt-30">
    <div class="row align-items-center">
      <div class="col-md-6">
        <div class="title mb-30">
          <h2>Daftar Kategori</h2>
        </div>
      </div>
      <!-- end col -->
      <div class="col-md-6">
        <div class="breadcrumb-wrapper mb-30">
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item">
                <a href="#0">Dashboard</a>
              </li>
              <li class="breadcrumb-item active" aria-current="page">
                Tables
              </li>
            </ol>
          </nav>
        </div>
      </div>
      <!-- end col -->
    </div>
    <!-- end row -->
  </div>
  <!-- ========== title-wrapper end ========== -->

  <!-- ========== tables-wrapper start ========== -->
  <div class="tables-wrapper">
    <div class="row">
      <div class="col-lg-12">
        <div class="card-style mb-30">
          <a href="/Kategori/Create" class="main-btn primary-btn square-btn btn-hover">Tambah Kategori</a>
          <div class="table-wrapper table-responsive">
            <table class="table">
              <thead>
                <tr>
                  <th>
                    <h6>No</h6>
                  </th>
                  <th>
                    <h6>Nama</h6>
                  </th>
                  <th>
                    <h6>Deskripsi</h6>
                  </th>
                  <th>
                    <h6>Action</h6>
                  </th>
                </tr>
                <!-- end table row-->
              </thead>
              @foreach (var item in Model)
              {
                i++;
                <tbody>
                  <tr>
                    <td>
                      <P>@i</P>
                    </td>
                    <td class="min-width">
                      <p>@item.Nama</p>
                    </td>
                    <td class="min-width">
                      <p>@item.Deskripsi</p>
                    </td>
                    <td>
                      <div class="action">
                        <a href="/kategori/edit/@item.IdKategori" class="text-primary">
                          <i class="lni lni-comments"></i>
                        </a>
                        <a href="/kategori/delete/@item.IdKategori" class="text-danger">
                          <i class="lni lni-trash-can"></i>
                        </a>
                      </div>
                    </td>
                  </tr>
                  <!-- end table row -->
              </tbody>
              }
            </table>
            <!-- end table -->
          </div>
        </div>
        <!-- end card -->
      </div>
      <!-- end col -->
    </div>
    <!-- end row -->
  </div>
  <!-- ========== tables-wrapper end ========== -->
</div>
