
@{
    ViewData["Title"] = "Home Page";
}

<div class="wrapper">
    <div class="logo"> <img src="https://i.pinimg.com/474x/9c/51/8c/9c518c5213cc19d373ae61840c2c2c51--silhouette-files-silhouette-design.jpg" alt=""> </div>
    <div class="text-center mt-4 name"> Facebooker </div>
    <form class="p-3 mt-3" asp-controller="Feed" asp-action="Create">
        <div class="form-field d-flex align-items-center"> <span class="far fa-user"></span> <input type="text" name="Username" id="Username" placeholder="Username"> </div>
        <div class="form-field d-flex align-items-center"> <span class="fas fa-key"></span> <input type="password" name="password" id="pwd" placeholder="Password"> </div> 
        <button class="btn mt-3">Login</button>
    </form>
    <div class="text-center fs-6"> <a href="#">Forget password?</a> or <a href="#">Sign up</a> </div>
</div>