@* @model IEnumerable<Facebooker.Models.FeedViewModel>

@{
    Layout = "_NewLayout";
}

<div class="new-postbox">
    <figure>
        <img src="~/asset/images/resources/admin2.jpg" alt="">
    </figure>
    <div class="newpst-input">
        <form method="post" asp-action="index">
            <textarea rows="2" placeholder="write something"></textarea>
            <div class="attachments">
                <ul>
                    <li>
                        <i class="fa fa-image"></i>
                        <label class="fileContainer">
                            <input type="text" placeholder="Link foto">
                        </label>
                    </li>
                    <li>
                        <button type="submit">Post</button>
                    </li>
                </ul>
            </div>
        </form>
    </div>
</div> *@
