<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="~/assetsAdmin/images/favicon.svg" type="image/x-icon" />
    <title>Blank Page | PlainAdmin Demo</title>

    <!-- ========== All CSS files linkup ========= -->
    <link rel="stylesheet" href="~/assetsAdmin/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/assetsAdmin/css/lineicons.css" />
    <link rel="stylesheet" href="~/assetsAdmin/css/materialdesignicons.min.css" />
    <link rel="stylesheet" href="~/assetsAdmin/css/fullcalendar.css" />
    <link rel="stylesheet" href="~/assetsAdmin/css/main.css" />
</head>

<body>
    <main class="main-wrapper">
        @RenderBody()
    </main>

    <!-- ========= All Javascript files linkup ======== -->
    <script src="~/assetsAdmin/js/bootstrap.bundle.min.js"></script>
    <script src="~/assetsAdmin/js/Chart.min.js"></script>
    <script src="~/assetsAdmin/js/dynamic-pie-chart.js"></script>
    <script src="~/assetsAdmin/js/moment.min.js"></script>
    <script src="~/assetsAdmin/js/fullcalendar.js"></script>
    <script src="~/assetsAdmin/js/jvectormap.min.js"></script>
    <script src="~/assetsAdmin/js/world-merc.js"></script>
    <script src="~/assetsAdmin/js/polyfill.js"></script>
    <script src="~/assetsAdmin/js/main.js"></script>
</body>

</html>
